.role--brown{
    background-color: brown;   
}
.role--green{
    background-color: green;
}
.role{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.champions-list img{
    height: 40px;
}