.role--top{
}
.role--jungle{
    color: darkslateblue;
}
.role--ADC{

}
.role--support{

}
.role--middle{

}
.role--ADC h4{
    color: whitesmoke;
}
.role{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
img.champion-role{
    height: 30px;
}
.big-box{
    padding: 15px;
}